<div class="compare-container">
    <div class="compare-container-cards">
        <!-- <div *ngIf="filteredPokemons" class="container">
            <div *ngFor="let pokemon of comparePokemons" class="card-container"
                [ngClass]="(pokemon.types[0].type.name)">
                <p> {{pokemon.name}} </p>
                <div class="container-pokemon">
                    <div class="poke-name">
                        <p>{{pokemon.types[0].type.name}}</p>
                    </div>
                    <div class="poke-image">
                        <img src={{pokemon.sprites.front_default}} alt="">
                        <img src={{pokemon.sprites.back_default}} alt="">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="compare-container-btn">
        <button class="compare btn">Compara</button>
    </div>
</div>
