.compare-container {
    width: 100%;
    height: 300px;
    position: sticky;
}

.btn {
    border-style: none;
    padding:0.5rem 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    font-weight: 800;
    cursor: pointer;
}

.compare {
    background-color: rgb(243, 95, 36);
    margin: 0 auto ;
}