<div class="container" >
<div *ngFor="let pokemon of pokemons" class="card-container" [ngClass]="getColor(pokemon.types[0].type.name)">
    <p> {{pokemon.name}} </p>
    <div class="container-pokemon">
    <div class="poke-name">
        <p>{{pokemon.types[0].type.name}}</p>
    </div>
    <div class="poke-image">
        <img src={{pokemon.sprites.front_default}} alt="" >
        <img src={{pokemon.sprites.back_default}} alt="" >
    </div>
    </div>
    <button class="btn" (click)="getInfo(pokemon.name)">Info</button>
</div>
</div>
<div [ngStyle]="{display: 'flex'}">
    <button class="btn altro" (click)="getMore(10)">Altro</button>
</div>
<app-card-info *ngIf="infoActive" [data]="pokeInfo"></app-card-info>
