<app-header></app-header>
<div style="display: flex; width: 100%; justify-content: center; gap: 1rem;">
    <input class="searchBar" type="text" name="searchTerm" placeholder="Cerca Pokemon" [(ngModel)]="searchTerm" />
    <select #types name="" id="" (change)="filterByType(types.value)" class="select-type">
        <option value="all">All</option>
        <option value="grass">Grass</option>
        <option value="fire">Fire</option>
        <option value="normal">Normal</option>
        <option value="water">Water</option>
        <option value="poison">Poison</option>
        <option value="ground">Ground</option>
        <option value="bug">Bug</option>
        <option value="electric">Electric</option>
        <option value="fairy">Fairy</option>
        <option value="fighting">Fighting</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="ghost">Ghost</option>
    </select>
</div>
<div style="margin-bottom: 310px;">
    <div *ngIf="filteredPokemons" class="container">
        <div *ngFor="let pokemon of filteredPokemons | searchFilter:searchTerm " class="card-container"
            [ngClass]="(pokemon.types[0].type.name)">
            <p [innerHtml]="(pokemon.name) | highlighter:searchTerm" ></p>
            <div class="container-pokemon">
                <div class="poke-name">
                    <p>{{pokemon.types[0].type.name}}</p>
                </div>
                <div class="poke-image">
                    <img src={{pokemon.sprites.front_default}} alt="">
                    <img src={{pokemon.sprites.back_default}} alt="">
                </div>
            </div>
            <div style="display: flex; gap: 0.5rem;">
                <button class="btn" (click)="getInfo(pokemon.name, 'info')">Info</button>
                <button class="btn add" (click)="getInfo(pokemon.name, 'compare')">Aggiungi +</button>
            </div>
        </div>
    </div>
    <div style="display: flex;">
        <button class="btn more" (click)="getMore(10)">Altro</button>
    </div>
</div>
<app-card-info *ngIf="infoActive" [data]="pokeInfo"></app-card-info>
<app-compare *ngIf="compareActive" [data]="pokeCompare" (closeCompare)="compareEnd($event)"></app-compare>